
body {
  margin: 0 auto;
  min-width: 200px;

}
.container {
  margin: 7vh auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.error_404 {
  margin: 0 auto;
  color: crimson;
}


